<div class="container">
  <!-- page title //-->
  <div class="row mt-2 mb-2">
    <div class="col-lg-12 border">
        <h1>SECOND</h1>
    </div>
  </div>
  <!-- page body //-->
  <div class="row mt-2">
    <div class="col-md-8 border">
      body
    </div>
    <!-- sidebar //-->
    <div class="col-md-4 d-md-down border">
      sidebar
    </div>
  </div>
</div>